@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body{
	margin: 0px;
	font-family: 'PT Sans Caption', sans-serif;
}
.sec-cabecalho img{
	float:left;
	width:15%;
	height:105px;
}
.sec-cabecalho{
	background-color:white;
}
.sec-cabecalho nav{
	text-decoration: none;
}
.sec-cabecalho nav ul{
	display: -webkit-inline-box;
	list-style-type: none;
	padding: 1px;
	padding-left:120px;
	font-size: 20px;

}
.sec-cabecalho nav li{
	padding: 0 10px;
	font-family: inherit;
	
}
.sec-cabecalho nav ul li a{
	text-decoration: none;
	padding:10px;
	color: #3AAACF;
}
.sec-topo{
	width:100%;
	max-width:100%;
	height: 100vh;
	background: url('../images/asas.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.sec-destaque{
	float:right;

}
.sec-notice{

}
.fig{
	float:left;
}
.fig img{
	border-radius: 20px;
	height: 300px;
	width: 300px;
}
.sec-destaque figure{
	float:left;

}
.contato {
	position:absolute;
	left:0;

	border-right: 4px dashed blue;

	padding: 15px;
}