@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body{
	margin: 0px;
	font-family: 'PT Sans Caption', sans-serif;
}
.sec-cabecalho img{
	float:left;
	width:15%;
	height:105px;
}
.sec-cabecalho{
	background-color:white;
}
.sec-cabecalho div{
    display: table;
    margin: 0 auto;
}
.sec-cabecalho nav{
	text-decoration: none;
}
.sec-cabecalho nav ul{
	display: -webkit-inline-box;
	list-style-type: none;
	
	font-size: 20px;

}
.sec-cabecalho nav li{
	padding: 0 10px;
	font-family: inherit;
	
}
.sec-cabecalho nav ul li a{
	text-decoration: none;
	padding:10px;
	color: #3a84df;
}
.sec-cabecalho nav ul li a:hover{
	text-decoration: none;
	color: #86c2ff;
}

.text{
	text-align: center;
	margin: 0 auto;
	display: table;
	font-size: 70px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.text h1{
	color: #3a84df;
}
.entrar{
    text-decoration: none;
    color: #3a84df;
    border-radius: 30px;
	background-color:white;
	padding: 10px 20px;
	font-size:35px;
	
}
a:hover.entrar{
	color:white;
	background-color:#3a84df;
	
}
.sec-topo{
	width:100%;
	max-width:100%;
	height: 100vh;
	background: url('../images/asas.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
}
.sec-destaque{
	margin:1%;

}
.sec-destaque div{
	margin: 0 auto;
	display: table;
}
.fig img{
	border-radius: 20px;
	height: 300px;
	width: 300px;
}
.sec-destaque figure{
	float:left;
	

}

/*  texto nos cards*/





/*  noticias       */
.topicos-notice{
	text-align:center;
    font-weight: bold;
	size:60px;
}


.centro{

	display: table;
	margin: 30px;
}
.lb1{
	display: block;


}
.tx{
	
	border-radius:5px;
	

	padding-left: 10px;
	margin-bottom: 2%;
	
}
.bt{
	border: none;
    border-radius: 5px;
    background:#3a84df ;
    color: #fff;
    cursor:pointer;
    font-weight: bold;
    padding: 8px 11px;
    font-size: 16px;
}
.bt:hover{
	background-color:#86c2ff;
	color: white;
}
.esquerda{
	float:left;
	
}
.direita{
	display: table;
	margin: 0 auto;
}
.etec{
    text-decoration: none;
}
.fa{
	font-size: 40px!important; 
}
.icon1{
	margin-top:60px;
	
}
.link1{
	text-decoration: none;
	color:#000;
}
a:hover.link1{
	color:#3b5998;
}
.link2{
	text-decoration: none;
	color:#000;
}
a:hover.link2{
	color:#1dcaff;
}

/*parte da noticia*/


.color{
	background:#3a84df;
}

.titulo{
	font-size: 60px;
	text-align: center;
	color:white;
	
}
.descricao{
	text-align: center;
	color:aliceblue;
}
.descricao2{
	text-align: center;
	color:#555553;
	padding-top:20px;
}

.conteudo{
	text-align: justify;
    padding: 5px 170px;
    font-size: 20px;
}

.imagem{
	display:table;
	margin:0 auto;
}
.imgnoticia{
	height:360px;
	width:640px;
	padding:60px;
}
.subtitulo{
	font-size:40px;
	padding: 0px 170px;
}

footer {
background-color:#3b5998;
font-weight:bold;
padding:30px;
color:white;
text-align:center;
}
footer a {
	text-decoration: none;
	color:#86c2ff;
	margin:1%;
}
	
/* parte do login*/
.bd{
	background-color: #3a84df; 
}
.meio{
	display: table;
	margin: 0 auto;
}
.tx2{
	border: 2px solid #fff;
	border-radius: 28px;
	padding: 20px;
	padding-right: 25em;
	margin-bottom: 5%;
	background:transparent; 
	color: #fff;
}
.texto{
	margin-bottom:5px;
}
.bt2{
	border: none;
	border-radius: 28px;
	background: #1dcaff;
	color:#fff;
	cursor: pointer;
    padding: 1em 227px;
	font-size: 16px;
}
.bt2:hover{
	background-color: #3b5998;
}
.questionario{
	margin-bottom: 71px; 
}

.meio ::-webkit-input-placeholder{
	color: white;

}
.meio :-moz-placeholder{
	color:white;
}
.meio ::-moz-placeholder{
	color: white;
}
.meio :-ms-input-placeholder{
	color: white;
}